body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 25px 15% 35px 15%;
    display: flex;
}

.header .left-side {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header .right-side {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: auto;
    display: flex;
    gap: 35px;
}

.hero-text {
    background-color: #1f2937;
    padding: 80px 15% 80px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    max-width: 80%;
}

.hero-left-side h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.hero-left-side p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 0px 40px 0px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    border-radius: 8px;
    width: 110px;
    height: 33px;
    border: none;
}

.hero-image {
    max-width: 900px;
    width: 50%;
    height: auto;
}

.images-section {
    padding: 50px 15% 50px 15%;
}

.images-section h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
    margin: 15px 0 30px 0;
}

.group-of-pictures {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.group-of-pictures div {
    max-width: 200px;
}

.group-of-pictures p {
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
}

.inspiring-quote {
    background-color: #e5e7eb;
    padding: 50px 15% 50px 15%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    text-align: right;
    font-weight: 600;
    padding: 0 60px;
    font-size: 26px;
}

.cta-container {
    background-color: #3882f6;
    margin: 80px 15% 80px 15%;
    padding: 60px;
    border-radius: 8px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.cta-container h1 {
    margin: 0;
    font-size: 26px;
}

.cta-container p {
    margin: 0;
}

.cta-container button {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 45px 15%;
}