body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.d-flex {
    display: flex;
}

/* .header, .hero-text, .random-info, .inspiring-quote {
}
 */

.dark-bg {
    background-color: #1F2937;
}

.blue-border {
    border-color: #3882f6 !important;
}

.container {
    padding: 0 15%;
}

.header {
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text{
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

.info {
    padding: 12px 0px;
}

.info, .right-links {
    font-size: 18px;
    color: #f9faf8;
}
.left-text {
    width: 50%;
}

.right-picture {
    max-width: 50%;
}

#pale-blue-dot {
    max-width: 100%;
    height: auto;
}

.random-info {
    flex-direction: column;
}

.random-info-title {
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 60px;
    padding-top: 60px;
}

.random-info-box {
    justify-content: space-evenly;
    padding-bottom: 120px;
}

.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    width: 12vw;
    height: auto;
}

.picture-text {
    text-align: center;
    max-width: fit-content;
}

.inspiring-quote {
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 160px 22%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;

}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    padding-top: 8px;
}

.outer-signup {
    padding-top: 120px;
    padding-bottom: 120px;
}

.inner-signup {
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    padding-top: 40px;
    padding-bottom: 40px;
}

.left-signup-text {
    padding: 3vh 3vw;
}

.right-signup-button {
    padding: 3vh 3vw;
}

.signup-title {
    font-weight: bolder;
}

.secondary-text {
}

.signup-button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: solid 2px;
    padding: 6px 24px;
    font-weight: bolder;
}

.footer {
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 30px;
    padding-bottom: 30px;
}